 <div class="content">
    <div class="animated fadeIn">
        <div class="row">       

            <div class="col-lg-6">
            <div class="card">
            <div class="card-header">
                <strong>Add Category</strong>
            </div>
            <div class="card-body card-block">
                <form action="/addCategory" method="post" class="form-horizontal">
                    
                    <div class="row form-group">
                        <div class="col col-md-3"><label for="text-input" class=" form-control-label">Name</label></div>
                        <div class="col-12 col-md-9"><input type="text" id="text-input" name="catname" placeholder="Please insert category name" class="form-control" ></div>
                    </div>

                    <div class="form-actions form-group">
                        <button type="submit" class="btn btn-secondary btn-sm">Submit</button>
                        <button type="submit" class="btn btn-danger btn-sm"><a href="/listCategory">Cancel</a></button>
                    </div>
                </form>
            </div>
            
            </div>
            
            </div>
        </div>
    </div>
</div>
